@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	font-family: 'Scada', sans-serif;
	background:url(../img/bg.png) repeat;
}

.top_menu_bg {
	position:relative;
	width:100%;
	height:100px;
	background:url(../img/top_menu_bg.png) repeat-x;
}

.top_menu {
	position:relative;
	width:960px;
	height:100px;
	margin:0 auto;
}

.logo {
	position:relative;
	cursor:pointer;
	display:block;
	float: left;
	width:300px;
	height:100px;
	background:url(../img/logo.png) no-repeat;
}

.menu_punkt {
	position:relative;
	cursor:pointer;
	display:block;
	float:right;
	padding:40px 30px 0 30px;
	height:60px;
	color:#FFFFFF;
	text-decoration:underline;
}

.menu_punkt:hover {
	background:rgba(255,255,255,0.3);
	color:#fff;
}

.block3 {
	position:relative;
	width:100%;
	height:1700px;
	background: url(../img/bg.png) repeat;
	margin:0;
	padding:0;
}

.block3_content {
	position:relative;
	display:block;
	width:960px;
	margin:0 auto;
	padding:0;
}

.block3_content_header {
	position:relative;
	display:block;
	width:660px;
	height:135px;
	float:right;
	margin:0;
}

.block3_content_header_txt {
	position:relative;
	display:block;
	margin:30px auto;
	width:380px;
	color:#2e2e2e;
	font-size:54px;
	font-weight:400;
}

.left_menu {
	position:relative;
	display:block;
	float:left;
	width:250px;
}

.left_menu_header {
	position:relative;
	display:block;
	float:left;
	width:235px;
	height:39px;
	background:url(../img/top_menu_bg.png) repeat-x;
	font-size:18px;
	font-weight:400;
	color:#fff;
	margin:135px 0 0 0;
	padding:16px 0 0 15px;
}

.left_menu_punkt {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:235px;
	height:30px;
	background:#dddddd;
	font-size:18px;
	font-weight:400;
	color:#585858;
	margin:0;
	padding:10px 0 0 15px;
	border-bottom:1px;
	border-bottom-color:#a3a3a3;
	border-bottom-style: solid;
}

.left_menu_punkt:hover {
	background:url(../img/bg_left_menu_hover.png) repeat-y;
	background-position:right;
	background-color:#dddddd;
	color:#7c7c7c;
}

.left_menu_punkt:active {
	background:url(../img/bg_left_menu_hover.png) repeat-y;
	background-position:right;
	background-color:# B9B9B9;
	color:#7c7c7c;
}

.left_menu_punkt_active {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:235px;
	height:30px;
	background:#cb5353;
	font-size:18px;
	font-weight:400;
	color:#fff;
	margin:0;
	padding:10px 0 0 15px;
	border-bottom:1px;
	border-bottom-color:#a83939;
	border-bottom-style: solid;
}

.left_menu_punkt_active:hover {
	color:#ffdddd;
}

.catalog_content {
	position:relative;
	display:block;
	float:left;
	width:660px;
	margin:0 0 0 50px;
	padding:0;
}

.catalog_prod {
	position:relative;
	display:block;
	float:left;
	width:200px;
	height:330px;
	margin:0 30px 40px 0;
}

.catalog_prod2 {
	position:relative;
	display:block;
	float:left;
	width:200px;
	height:330px;
	margin:0 0 40px 0;
}

.prod_img {
	position:relative;
	display:block;
	float:left;
	width:200px;
	height:185px;
	margin:0;
}

.prod_name {
	position:relative;
	display:block;
	float:left;
	width:200px;
	margin:0;
	font-size:14px;
	font-weight:400;
	text-decoration:underline;
	color:#2b2b2b;
}

.prod_author {
	position:relative;
	display:block;
	float:left;
	width:200px;
	margin:5px 0 0 0;
	font-size:12px;
	font-weight:400;
	font-style:italic;
	color:#808080;
}

.prod_star {
	position:relative;
	display:block;
	float:left;
	width:180px;
	background:url(../img/star.png) no-repeat;
	font-size:14px;
	font-weight:400;
	color:#808080;
	padding:0 0 0 20px;
	margin:5px 0 0 0;
}

.prod_btn {
	cursor:pointer;
	position:absolute;
	display:block;
	float:left;
	width:120px;
	height:27px;
	background:#57c5a0;
	color:#fff;
	text-align:center;
	font-size:18px;
	font-weight:400;
	text-decoration:underline;
	padding:3px 0 0 0;
	bottom:10px;
	left:40px;
}

.prod_btn:hover {
	background:#cb5353;
}

.prod_btn:active {
	background:#a83939;
}

.pagination {
	position:relative;
	display:block;
	float:right;
	width:326px;
	height:25px;
}

.pag_nav_prev {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:26px;
	height:25px;
	background:url(../img/pagination/prev.png) no-repeat;
	margin:0 4px 0 0;
}

.pag_nav_prev:hover {
	background:url(../img/pagination/prev_hover.png) no-repeat;
}

.pag_nav_prev:active {
	background:url(../img/pagination/prev_active.png) no-repeat;
}

.pag_nav_next {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:26px;
	height:25px;
	background:url(../img/pagination/next.png) no-repeat;
	margin:0;
}

.pag_nav_next:hover {
	background:url(../img/pagination/next_hover.png) no-repeat;
}

.pag_nav_next:active {
	background:url(../img/pagination/next_active.png) no-repeat;
}

.pag_nav {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:26px;
	height:21px;
	background:url(../img/pagination/pag_bg.png) no-repeat;
	margin:0 4px 0 0;
	font-size:14px;
	font-weight:400;
	color:#707070;
	text-align:center;
	padding:4px 0;
}

.pag_nav:hover {
	color:#57c5a0;
}

.pag_nav:active {
	background:url(../img/pagination/pag_active.png) no-repeat;
	color:#fff;
}

.pag_nav_active {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:26px;
	height:21px;
	background:url(../img/pagination/pag_active.png) no-repeat;
	margin:0 4px 0 0;
	font-size:14px;
	font-weight:400;
	color:#fff;
	text-align:center;
	padding:4px 0;
}

.footer {
	position:relative;
	display:block;
	width:100%;
	height:337px;
	background:url(../img/footer_bg.png) repeat-x;
	padding:0;
	margin:0;
}

.footer_content {
	position:relative;
	display:block;
	width:960px;
	height:337px;
	margin:0 auto;
}

.footer_block1 {
	position:relative;
	display:block;
	float:left;
	width:300px;
	height:337px;
	margin:0;
	padding:0;
}

.footer_block2 {
	position:relative;
	display:block;
	float:left;
	width:270px;
	height:337px;
	margin:0 0 0 60px;
	padding:0;
}

.footer_block3 {
	position:relative;
	display:block;
	float:left;
	width:300px;
	height:337px;
	margin:0 0 0 30px;
	padding:0;
}

.footer_header {
	position:relative;
	display:block;
	width:300px;
	color:#7d7d7d;
	font-size:26px;
	font-weight:700;
	text-align:left;
	padding:30px 0 10px 0;
}

.footer_txt {
	position:relative;
	display:block;
	width:270px;
	color:#a4a4a4;
	font-size:17px;
	font-weight:400;
	text-align:left;
	padding:0 0 0 30px;
}

.footer_navi {
	cursor:pointer;
	position:relative;
	display:block;
	width:270px;
	color:#a4a4a4;
	font-size:17px;
	font-weight:400;
	text-decoration:underline;
	text-align:left;
	padding:0 0 0 30px;
}

.footer_navi:hover {
	color:#57c5a0;
}

.fb {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:45px;
	height:45px;
	background:url(../img/social/fb.png) no-repeat;
	margin:0 0 0 30px;
}

.fb:hover {
	background:url(../img/social/fb_h.png) no-repeat;
}

.tw {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:45px;
	height:45px;
	background:url(../img/social/tw.png) no-repeat;
	margin:0 0 0 20px;
}

.tw:hover {
	background:url(../img/social/tw_h.png) no-repeat;
}

.vk {
	cursor:pointer;
	position:relative;
	display:block;
	float:left;
	width:45px;
	height:45px;
	background:url(../img/social/vk.png) no-repeat;
	margin:0 0 0 20px;
}

.vk:hover {
	background:url(../img/social/vk_h.png) no-repeat;
}